@media (max-width: 1279px) {
    body {
        background: #222222;
    }

    #main {
        border-radius: 0;
        background-color: #222222;
        padding: 40px 70px 60px;
    }
}

@media (max-width: 992px) {
    #main {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #main #content {
        margin-top: 20px;
    }

    #main #content .section-1 {
        flex-direction: column;
        margin: 0;
    }

    #main #content .section-1 .detail {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 0;
    }

}

@media (max-width: 720px) {
    #main {
        padding: 40px;
    }
}

@media (max-width: 480px) {
    #main {
        padding: 20px;
    }
}

@media (max-width: 360px) {
    #main #header{
        flex-direction: column;
    }
    #main #header .menu ul{
        justify-content: center;
    }
    #main #header .menu li{
        margin: 0 12px!important;
    }
    #main #content .section-1 .detail .button{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 290px) {
    #main #content .section-1 .avatar{
        width: 100%;
        min-width: 100%;
    }
    #main #content .section-1 .avatar img {
        min-width: 150px;
        width: 150px;
        height: 150px;
        border: 8px solid #444;
        margin: 0 auto;
    }
    #main #content .section-1 .detail .name {
        font-size: 38px;
    }
}
